.appBody {
  display: flex;
  flex: 1;
  max-width: 100%;

  .contentStyle {
    line-height: auto;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
  }
}

.itemCard {
  margin: 8px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }

  .itemTitle {
    padding-top: 16px;
  }

  .itemRating {
    ul {
      font-size: 14px;
      line-height: 32px;
    }
  }

  .itemCardImage {
    height: 150px !important;
    object-fit: scale-down;
  }
}

.checkoutForm {
  .cartSummary {
    font-weight: 700;
  }

  .checkoutBtn {
    margin: 5px;
  }
}

.dashboardChart {
  width: 90%;
  height: 280px;
  padding: 20px;
}

@media (max-width: 992px) {
  .dashboardChart {
    width: 100%;
    height: 250px;
    padding: 0;
  }

  .appBody {
    .contentStyle {
      padding: 0;
    }
  }
}
