.appBody {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.itemCard {
  margin: 8px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }

  .itemTitle {
    padding-top: 16px;
  }

  .itemRating {
    ul {
      font-size: 14px;
      line-height: 32px;
    }
  }

  .itemCardImage {
    height: 150px !important;
    object-fit: scale-down;
  }
}

.checkoutForm {
  .cartSummary {
    font-weight: 700;
  }

  .checkoutBtn {
    margin: 5px;
  }
}
