.appHeader {
  height: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;

  .appTitle {
    h1,
    h2,
    h3 {
      font-size: 2rem;
    }
  }

  .shoppingCart {
    margin-top: 10px;
    cursor: pointer;
    user-select: none;

    .shoppingCardIcon {
      font-size: 26px;
    }
  }
}

.cartDrawer {
  .cartSummary {
    font-weight: 700;
  }

  .checkoutBtn {
    margin: 5px;
  }
}

li a,
li span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
