.appHeader {
  height: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;

  .appTitle {
    h1,
    h2,
    h3 {
      font-size: 1.5rem;
    }
  }

  .rightHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchCard {
      margin-top: 10px;
      margin-right: 15px;
      cursor: pointer;
      user-select: none;

      .searchIcon {
        font-size: 26px;
      }
    }

    .shoppingCart {
      margin-top: 10px;
      cursor: pointer;
      user-select: none;

      .shoppingCardIcon {
        font-size: 26px;
      }
    }
  }
}

.cartHolder {
  display: flex;
  flex-direction: column;

  .removeCartItem {
    cursor: pointer;
  }

  .checkOutBtn {
    margin: auto;
    padding: 5px 35px;
  }
}

li a,
li span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 992px) {
  .menuBtn {
    display: none;
  }
  .menuHeader {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .menuHeader {
    width: 10%;
  }
}
